[user]
	name = shenyu
	email = shenyu@shenyu.me
[credential]
	helper = manager-core
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	showbranch = auto
	ui = auto
	decorate = auto
[core]
	editor = nvim
	quotepath = false
	commitGraph = true
	longpaths = true
	pager = delta
[credential]
	helper = store
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
	trustExitCode = true
	prompt = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
	ff = only
[init]
	defaultBranch = main
[http]
	proxyAuthMethod = basic
[difftool "bc"]
	path = bComp
[mergetool "bc"]
	path = bComp

[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
