# 设置 JetBrains IDE JDK 路径
# https://github.com/RikudouPatrickstar/JetBrainsRuntime-for-Linux-x64

JET_BRAINS_IDES=(
  CLION
  DATAGRIP
  GOLAND
  IDEA
  MPS
  PHPSTORM
  PYCHARM
  RIDER
  RUBYMINE
  WEBIDE
)

for IDE in "${JET_BRAINS_IDES[@]}"; do
  export ${IDE}_JDK=${HOME}/.jbr
done
